@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.appContainer {
  width: 100%;
  height: 100%;
  background: #12c2e9;
  background: -webkit-linear-gradient(
    45deg,
    #00dbde,
    #3aa9e5,
    #8865f0,
    #ef0cfd
  );
  background: linear-gradient(45deg, #00dbde, #3aa9e5, #8865f0, #ef0cfd);
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
}
.formWrapper {
  padding-bottom:30px;
}
.appTitle{
  text-align: center;
  padding:30px 0;
  color:white;
}

.pageTitle{
  font-size: 40px;
  font-weight:600;
  margin:0;
  margin-bottom:8px;
  text-shadow:0px 4px 3px rgba(0,0,0,.4),
  0px 8px 13px rgba(0,0,0,.1),
  0px 18px 23px rgba(0,0,0,.1);
}


.subTitle{
  font-size:20px;
  font-size:500;
  text-shadow:0px 4px 3px rgba(0,0,0,.4),
  0px 8px 13px rgba(0,0,0,.1),
  0px 18px 23px rgba(0,0,0,.1);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
