@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.appContainer {
  width: 100%;
  height: 100%;
  background: #12c2e9;
  background: -webkit-linear-gradient(
    45deg,
    #00dbde,
    #3aa9e5,
    #8865f0,
    #ef0cfd
  );
  background: linear-gradient(45deg, #00dbde, #3aa9e5, #8865f0, #ef0cfd);
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
